.App{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh; /*take the whole viewport height*/
}

.header {
    background-color: green;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr auto;
    color: whitesmoke;
    font-family: "Roboto", sans-serif, Arial;
  }
 
  
main {
    background-image: url(https://scontent.fsig3-1.fna.fbcdn.net/v/t1.18169-9/27857954_1166470046823676_9037653328374901059_n.png?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=hQKfYuiq4MUAX_kLTbS&_nc_ht=scontent.fsig3-1.fna&oh=00_AT9TvIbNm43AsFucMEky26zOd7xNVKB1n5AVOmFZa1r52g&oe=625B3752);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    
}

.footer {
    background-color: green;
    color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: center;
}